@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500;600;700;800;900&family=DM+Serif+Display&family=Fraunces:opsz,wght@9..144,900&family=Jost:wght@400;600;900&family=Kaushan+Script&family=Lato&family=Lexend+Deca:wght@800;900&family=Montserrat:wght@400;700&family=Poppins:wght@200;400;500;600;700;900&family=Roboto:wght@100;400;900&family=Rufina:wght@700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body{
    width: 1440px;
    margin: 0 auto;
    font-family: 'Lexend Deca', sans-serif;
}
