@import '../_global';

main{
    width: 100%;
    margin-top: 82px;
    .section__mockup{
        width: 100%;
        height: 654px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .mockup-title{
            display: flex;
            flex-direction: column;
            gap: 40px;
            width: 460px;
            margin-left: 100px;
            h2{
                font-size: 50px;
                font-weight: 700;
                line-height: 64px;
                color: #232340;
            }
            p{
                font-size: 18px;
                font-weight: 400;
                line-height: 27px;
                color: rgba(35, 35, 64, 0.90);
            }

            a{
                text-decoration: underline;
            }
            
        }
    }
    .section__info{
        margin-top: 120px;
        width: 100%;
        .info-list{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 120px;
            .info-item{
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 100%;
                height: 565px;
                // border: 1px solid;
                span{
                    width: 465px;
                    h2{
                        font-size: 50px;
                        font-weight: 700;
                        line-height: 64px;
                        color: #232340;
                    }
                    p{
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 27px;
                        color: rgba(35, 35, 64, 0.90);
                    }
                    a{
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .section__comment{
        margin-top: 200px;
        width: 100%;
        h2{
            text-align: center;
            font-size: 50px;
            font-weight: 700;
            line-height: 64px;
            color: #232340;
            margin-bottom: 142px;
        }
    }
}


@media screen and (max-width:800px) {
    body{
        width: 100%;
        font-size: 14px;
    }

    main{
        width: 100%;
        .section__mockup{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column-reverse;
            .mockup-title{
                width: 600px;
                margin: 0;
            }

        }
        .section__info{
            width: 100%;
            height: 100%;
            .info-list{
                width: 100%;
                height: 100%;
                .info-item{
                    width: 100%;
                    height: 100%;
                    img{
                        width: 430px;
                    }
                }
            }
        }
    }
    .section__comment{
        width: 100%;
        height: 100%;
        img{
            width: 100%;
        }
    }
}


@media screen and (max-width:400px) {
    body{
        width: 100%;
        font-size: 14px;
    }

    main{
        width: 100%;
        .section__mockup{
            width: 100%;
            height: 100%;
            .mockup-title{
                width: 100%;
            }
            img{
                width: 100%;
                height: 100%;
            }
        }
        .section__info{
            width: 100%;
            height: 100%;
            .info-list{
                width: 100%;
                height: 100%;
                .info-item{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    span{
                        width: 100%;
                        h2{
                            font-size: 32px;
                        }
                        p{
                            font-size: 16px;
                        }
                    }
                    
                }
                .rev{
                    display: flex;
                    flex-direction: column-reverse;
                }
            }
        }
    }
}